.about {
    display: flex;
    flex-direction: center;
    gap: 2.5rem;
  
    padding: 5rem 1.5rem;
    background: #fafafa;
  
    overflow: hidden; /* evita espaço da animação */
}
  /* TEXTO */
  .textContent {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  /* IMAGEM */
  .imageWrapper {
    display: flex;
    justify-content: center;
  }
  
  .imageWrapper img {
    width: 100%;
    max-width: 100%;
    height: auto;
  
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  }
  
  /* DESKTOP */
  @media (min-width: 1024px) {
    
    .about {
        display: flex;
        flex-direction: center;
        gap: 5rem;
      
        padding: 4rem 1rem;
        background: #fafafa;
      
        overflow: hidden; /* evita espaço da animação */
        font-family:"Averta Demo PE C";
      }
    
  
    .imageWrapper {
      justify-content: flex-start;
      padding-left: 6.5%;
    }
  
    .imageWrapper img {
     width: 100%;
    }
  
    .textContent {
      padding-right: 8%;
    }
  }
  