.hero {
  
  
  position: relative;
    padding: 20%;
  
    background-image: url("@/app/assets/Hero/HONDA_CRF300_F_2026 (33).jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    overflow: hidden; /* importante */
  }
  
  /* Camada escura nas bordas */
  .hero::before {
    content: "";
    position: absolute;
    inset: 0;
  
    background: radial-gradient(
      
      rgba(0,0,0,0) 20%,
      rgba(0,0,0,0.8) 80%
    );
  
    pointer-events: none;
  }
  