/* Container geral */
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 5%;
  }
  
  .letter{
    
  
    padding: 2%;
    font-family:"Averta Demo PE C";

  }
  /* Caixa do mapa */
  .mapBox {
    width: 100%;
    max-width: 80vw;
    height: 40vh

  }
  
  /* Iframe */
  .map {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  
  /* Área dos botões */
.buttons {
    width: 100%;
    max-width: 80vw;
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  
    margin-top: 20px;
  }
  
  
  /* Botão moderno premium */
  .button {
    padding: 3vh;
  
    background: rgba(255, 255, 255, 0.9);
  
    color: #1f2933;
  
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 4px;
  
    font-size: 14px;
    font-weight: 600;
    font-family: "Averta Demo PE C";;
  
    letter-spacing: 0.4px;
  
    cursor: pointer;
  
    backdrop-filter: blur(6px);
  
    box-shadow:
      0 4px 12px rgba(0, 0, 0, 0.08),
      inset 0 1px 0 rgba(255, 255, 255, 0.7);
  
    transition: all 0.25s cubic-bezier(.4,0,.2,1);
  }
  
  
  /* Hover elegante */
  .button:hover {
    color: #dc2626;
  
    border-color: #dc2626;
  
    transform: translateY(-2px) scale(1.01);
  
    box-shadow:
      0 8px 20px rgba(220, 38, 38, 0.15),
      inset 0 1px 0 rgba(255, 255, 255, 0.8);
  }
  
  
  /* Clique */
  .button:active {
    transform: translateY(0) scale(0.98);
  
 }