.menu{
    
    background-color: hsl(0, 0%, 100% / 0.8);
    backdrop-filter: blur(12px);
    
    position: fixed;
    
    height: 70px; 
    padding: 3%;
  
    display: flex;
    justify-content:flex-start;
    align-items: center;
  
    z-index: 100;

    font-family: "Quicksand", sans-serif;
    font-weight: 200;
    font-size: 1rem; /* menor e elegante */
    letter-spacing: 0.2px;
}
.nav {
   
}


@media (min-width: 768px) {
    .nav {
        display: flex;
        gap: 20px;
    }

    .nav :hover{
        color: rgb(236, 0, 0);
    }
}
