.carousel {
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
    padding: 30%;
  }
  
  .viewport {
    overflow: hidden;
    width: 100%;
  }
  
  .container {
    display: flex;
  }
  
  .slide {
    flex: 0 0 100%;
    position: relative;
  
    height: 400px; /* IMPORTANTE */
  
    opacity: 0.3;
    transition: opacity 0.6s ease;
  }
  
  .image {
    object-fit: cover;
    border-radius: 16px;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
    border-radius: 16px;
  }
  
  /* Slide ativo */
  .active {
    opacity: 1;
  }
  
  /* Indicadores */
  .dots {
    display: flex;
    justify-content: center;
    gap: 10px;
  
    margin-top: 16px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
  
    border-radius: 50%;
    border: none;
  
    background: #d1d5db;
  
    cursor: pointer;
  
    transition: all 0.3s ease;
  }
  
  .dot:hover {
    background: #ef4444;
  }
  
  .dotActive {
    background: #dc2626;
    transform: scale(1.3);
  }
  