.carousel {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  height: 100vh ;
  display: flex;
  justify-content: center;

  flex-direction: column;
  position: relative;
}
.titleBox {
  text-align: center;
  margin-bottom: 40px;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 2px;
  font-family:"Averta Demo PE C";
  background: linear-gradient(90deg, #dc2626, #ef4444);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-transform: uppercase;
}
/* Janela */
.viewport {
  overflow: hidden;
  width: 100%;
}

/* Container */
.container {
  display: flex;
  align-items: center;
}

/* Slide */
.slide {
  flex: 0 0 50%; /* Mostra laterais */
  position: relative;

  height: 50vh;
  

  opacity: 0.4;
  transform: scale(0.9);

  transition: all 0.4s ease;
}

/* Imagem */
.image {
  object-fit: cover;
  border-radius: 18px;
}

/* Ativo */
.active {
  opacity: 1;
  transform: scale(1);
}

/* SETAS */

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background: rgba(0, 0, 0, 0.6);
  color: white;

  border: none;
  border-radius: 50%;

  width: 60px;
  height: 60px;

  font-size: 40px;
  cursor: pointer;

  z-index: 10;

  transition: 0.3s;
}

.arrowLeft:hover,
.arrowRight:hover {
  background: rgba(0, 0, 0, 0.8);
}

.arrowLeft {
  left: 10px;
}

.arrowRight {
  right: 10px;
}

/* DOTS */

.dots {
  display: flex;
  justify-content: center;
  gap: 10px;

  margin-top: 20px;
}

.dot {
  width: 10px;
  height: 10px;

  border-radius: 50%;
  border: none;

  background: #d1d5db;

  cursor: pointer;

  transition: 0.3s;
}

.dot:hover {
  background: #ef4444;
}

.dotActive {
  background: #dc2626;
  transform: scale(1.3);
}

.plusLink {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);

  text-decoration: none;
  border-radius: 18px;

  opacity: 0;
  transition: 0.3s;
}

.slide:hover .plusLink {
  opacity: 1;
}

.plusIcon {
  width: 70px;
  height: 70px;

  border-radius: 50%;
  border: 3px solid white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 40px;
  font-weight: bold;
  color: white;

  transition: 0.3s;
}

.plusLink:hover .plusIcon {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.2);
}
