.container {
    width: 100%;
    height: 105vh;
    position: relative;
    overflow: hidden;
  
    background: url("/assets/seguro/BannerSite_KV-AfricaTwin_1641x948.jpeg")
      center center / cover no-repeat;
  }
  
  /* overlay com gradiente */
  .container::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.25)
    );
    pointer-events: none;
  }
  