.services {
    padding: 8%;
    display: flex;
    flex-direction:column;
    gap: 20px;
    background: #fafafa;
  }
  
  /* ================= CARDS ================= */
  
  .consorcio,
  .financiamento,
  .oficina {
    position: relative;
    overflow: hidden;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.2px;
  
    width: 100%;
    height: 55vh;
  
    color: white;
    border-radius: 8px;
    
    display: flex;
   
    align-items:baseline;
    
    
  }
  
  /* Backgrounds */
  
  .consorcio {
    background-image: url("/assets/services/teste2.jpg");
  }
  
  .financiamento {
    background-image: url("/assets/services/teste3.jpg");
  }
  
  .oficina {
    background-image: url("/assets/oficina/teste4.jpg");
  }
  
  /* ================= SOMBRA ================= */
  
  .consorcio::after,
  .financiamento::after,
  .oficina::after {
    content: "";
  
    position: absolute;
    top: 0;
    left: 0;
  
    width: 40%;
    height: 100%;
  
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    );
  
    z-index: 1;
  }
  
  /* ================= TEXTO ================= */
  
  .letter {
    position: relative;
    z-index: 2;
  
    padding: 5%;
  
    display: flex;
    flex-direction: column;
   
    font-family:"Averta Demo PE C";
  }
  
  /* ================= BOTÕES ================= */
  
  .buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
  }
  
  /* Transparente */
  
  .btnOutline {
    padding: 10px 22px;
  
    background: transparent;
    border: 2px solid white;
    color: white;
  
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
  
    transition: all 0.3s ease;
  }
  
  .btnOutline:hover {
    background: white;
    color: black;
  }
  
  /* Vermelho */
  
  .btnPrimary {
    padding: 10px 22px;
  
    background: #e30613;
    border: none;
    color: white;
  
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
  
    transition: all 0.3s ease;
  }
  
  .btnPrimary:hover {
    background: #b8000f;
  }
  