.services{
    
    padding: 3%;
    
    display: flex;
    flex-direction: column;
    gap:  20px;
   
    
}

  
    

.consorcio{

    position: relative;   
    overflow: hidden;   

    background-image: 
    url("@/app/assets/services/IFR_MOTHON0185PRG002_Honda_Concess_2025_Dia01_3255_RGB (2).jpg");
    background-size: cover;   
    background-position:right;
    background-repeat: no-repeat;
    
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 1rem; 
    letter-spacing: 0.2px;
    
    width: 100%;
    height: 500px;

    color: white;
    border-radius: 8px;
    
    
}

.consorcio::after{
    content: "";

    position: absolute;
    top: 0;
    right: 0;

    width: 40%;
    height: 100%;

    background: linear-gradient(
        to left,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0)
    );

    z-index: 1;


    
}

.letter{
    
    padding: 5%;
    display: flex;        
    flex-direction: column;

    gap: 20px;
    /* background-color: aqua; */
}   

.financiamento{
   
    
    position: relative;   
    overflow: hidden;   


    background-image: url("@/app/assets/services/IFR_MOTHON0185PRG001_Honda_Concess_2025_2675_RGB (2).jpg");
    background-size: cover;   
    background-position:center;
    background-repeat: no-repeat;
    
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 1rem; 
    letter-spacing: 0.2px;
    
    width: 100%;
    height: 500px;

    color: white;
    
    border-radius: 8px;
}

.financiamento::after{
    content: "";

    position: absolute;
    top: 0;
    right: 0;

    width: 40%;
    height: 100%;

    background: linear-gradient(
        to left,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0)
    );

    z-index: 1;
}


.duplachance{
   
    position: relative;   
    overflow: hidden;   


    background-image: url("@/app/assets/oficina/IFR_MOTHON0185PRG002_Honda_Concess_2025_Dia01_4220_RGB.jpg");
    background-size: cover;   
    background-position:right;
    background-repeat: no-repeat;
    

    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 1rem; 
    letter-spacing: 0.2px;
    
    width: 100%;
    height: 500px;

    color: white;

    border-radius: 8px;
}

.duplachance::after{
    content: "";

    position: absolute;
    top: 0;
    right: 0;

    width: 40%;
    height: 100%;

    background: linear-gradient(
        to left,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0)
    );

    z-index: 1;
}
