/* ================= BANNER ================= */

.banner {
    height: 80vh;
    background: url("/assets/modelos/Adventure/AFRICA TWIN_banner site_1920x700_02.png")
      no-repeat center;
    background-size: cover;
    position: relative;
  }
  
 
  
  
  /* ================= CAROUSEL ================= */
  
  .carousel {
    width: 100%;
    height: 75vh;
    position: relative;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .viewport {
    overflow: hidden;
    width: 80%;
  }
  
  .carouselContainer {
    display: flex;
    align-items: center;
  }
  
  /* SLIDES */
  
  .slide {
    flex: 0 0 34%;
    height: 40vh;
  
    position: relative;
  
    opacity: 0.20;
    transform: scale(0.85);
    transition: all 0.45s ease;
  }
  
  .active {
    opacity: 1;
    transform: scale(1.05);
    z-index: 2;
  }
  
  /* IMAGE */
  
  .image {
    object-fit: contain;
  }
  
  /* SETAS */
  
  .arrowLeft,
  .arrowRight {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  
   
    color: rgb(0, 0, 0);
 
  
    width: 8rem;
    height: 8vh;
    font-size: 5vw;
    cursor: pointer;
    z-index: 5;
    transition: 0.3s;

    
  }
  
  
  
  .arrowLeft {
    left: 30px;
    
  }
  
  .arrowRight {
    right: 30px;
  }
  
  /* DOTS */
  
  .dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  
    display: flex;
    gap: 10px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background: #d1d5db;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .dotActive {
    background: #dc2626;
    transform: scale(1.3);
  }
  
  /* ================= TITLE ================= */

.titleSection {
  text-align: center;
  padding: 60px 20px 20px 20px;
}

.category {
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.model {
  font-size: 2.5rem;
  font-weight: 700;
  color: #dc2626;
  margin-top: 10px;
}
