.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 7%;
  background: #fafafa;
}

/* ================= CARD BASE ================= */

.card {
  position: relative;
  overflow: hidden;

  font-family: "Averta Demo PE C";
  font-size: 2rem;
  font-weight: 500;
  color: white;

  border-radius: 16px;
  padding: 2%;

  display: flex;
  align-items: flex-end;
  
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.7)
  );
  transition: 
    transform 0.5s ease,
    box-shadow 0.5s ease;
}

.card:hover {
  transform: scale(1.04) translateY(-4px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 1);
}

/* texto acima do overlay */
.card > * {
  position: relative;
  z-index: 2;
}

/* ================= HERO ================= */

.hero {
  width: 100%;
  height: 55vh;
  font-size: 3rem;

  background-image: url("/assets/oficina/IFR_MOTHON0185PRG001_Honda_Concess_2025_3950_RGB_1 (2).jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  transition: background-size 0.6s ease, background-position 0.6s ease;
}

/* ================= BOTTOM ================= */

.bottom {
  display: flex;
  gap: 20px;
}

.div1 {
  flex: 1;
  min-height: 50vh;

  background-image: url("/assets/oficina/capacetes.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transition: background-size 0.6s ease, background-position 0.6s ease;
}

.div2 {
  flex: 1;
  min-height: 50vh;

  background-image: url("/assets/oficina/produtos.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transition: background-size 0.6s ease, background-position 0.6s ease;
}

/* ================= MOVIMENTO ================= */

.card:hover.hero {
  background-size: 115%;
  background-position: bottom ;
}

.card:hover.div1 {
  background-size: 115%;
  background-position: center;
}

.card:hover.div2 {
  background-size: 115%;
  background-position: center ;
}

/* ================= OVERLAY LATERAL ================= */

.card::after {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.7)
  );

  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 1;
}

.card:hover::after {
  opacity: 1;
}

